/* reset */
html,body,div,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ol,ul,li,fieldset,form,label,input,legend,table,caption,tbody,tfoot,thead,tr,th,td,textarea,article,aside,audio,canvas,figure,footer,header,mark,menu,nav,section,time,video{margin:0;padding:0;}
html,body{height:100%;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
body{font-size:.14rem;line-height:1;font-family:"Microsoft YaHei","Helvetica Neue","Helvetica",Arial,sans-serif;background-color:#fff;color:#333;}
article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{display:block;}
ul,ol{list-style:none;}
img{border:0 none;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
strong,em,i{font-style:normal;font-weight:normal;}
ins{text-decoration:underline;}
del{text-decoration:line-through;}
mark{background:none;}
input::-ms-clear{display:none !important;}
input,select,textarea,button{vertical-align:middle;outline:none;border:0;}
input{border-radius:0;box-shadow:none;}
input[type="button"],
input[type="submit"],
input[type="reset"],

button{-webkit-appearance:none;}
textarea{-webkit-appearance:none;overflow-y:auto;overflow-x:hidden;resize:none;}

/* 修改过的 */
input:disabled,input.disabled,input[disabled] {
    color: #000;
    cursor: default;
    background-color:transparent;
    opacity: 1;
    -webkit-text-fill-color:#000;
    -webkit-opacity:1;
}
body {
  
}